
.Rodape {
        background-color: #0d2929;
        text-align:justify;
        border: solid 0px;
        font-size: 10pt;
        font-family: Arial;
        font-weight: bold;
        width: 100%;
        color: rgb(243, 243, 243);
        position: fixed;
        bottom:0px;
        left:0px;
}

.Rodape li {
        list-style-type: none;
}

